n8n/workflows/03-alertes-critiques-email.json
{
  "name": "FinSoft — Alertes critiques → Email expert-comptable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finsoft/alertes-generees",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-alertes",
      "name": "Webhook FinSoft Alertes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.critical_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-critical",
      "name": "Alertes critiques ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@cabinet.fr",
        "toEmail": "expert@cabinet.fr",
        "subject": "=⚠️ FinSoft — {{ $json.body.critical_count }} alerte(s) critique(s) détectée(s)",
        "emailType": "html",
        "message": "=<h2>Alertes critiques FinSoft</h2><p>{{ $json.body.critical_count }} alerte(s) critique(s) ont été détectées pour le client {{ $json.body.user_id }}.</p><p>Total alertes générées : {{ $json.body.generated }}</p><p><a href=\"http://localhost:3000/dashboard\">Accéder à FinSoft</a></p>"
      },
      "id": "send-email",
      "name": "Email expert-comptable",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 220]
    }
  ],
  "connections": {
    "Webhook FinSoft Alertes": {
      "main": [
        [{ "node": "Alertes critiques ?", "type": "main", "index": 0 }]
      ]
    },
    "Alertes critiques ?": {
      "main": [
        [{ "node": "Email expert-comptable", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Envoie un email à l'expert-comptable dès que des alertes critiques sont générées dans FinSoft."
  }
}
